<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.gl.librarymanagementsystem.mapper.BookAdminMapper">
    <select id="getByPhoneAndPwd" resultType="cn.gl.librarymanagementsystem.bean.BookAdmin">
        select *
        from book_admin
        where admin_phone = #{phone} and admin_pwd = #{pwd}
    </select>

    <select id="getBookAdminById" parameterType="integer" resultType="cn.gl.librarymanagementsystem.bean.BookAdmin">
        select *
        from book_admin
        where admin_id = #{id}
    </select>

    <update id="updateBookAdmin" parameterType="cn.gl.librarymanagementsystem.bean.BookAdmin">
        update book_admin
        set admin_name = #{adminName},
            admin_pwd = #{adminPwd},
            admin_phone = #{adminPhone},
            admin_email = #{adminEmail}
        where admin_id = #{adminId}
    </update>

    <insert id="addBookAdmin" parameterType="cn.gl.librarymanagementsystem.bean.BookAdmin">
        insert into book_admin(admin_name, admin_pwd, admin_phone, admin_email)
        values(#{adminName}, #{adminPwd}, #{adminPhone}, #{adminEmail})
    </insert>

    <delete id="delBookAdmin" parameterType="integer">
         delete from book_admin
         where admin_id = #{id}
    </delete>

    <select id="getAllBookAdmin" resultType="cn.gl.librarymanagementsystem.bean.BookAdmin">
        select *
        from book_admin
    </select>

</mapper>